body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */
   
.body{
    background-color:#faf3e2;
    background: #faf3e2;

}
img {
    max-width: 100%; 
}

.container1{
    
    display: block;
    height: 100%;
    width: 30%;
    margin-left:25px;
    background-color:#d147bc;
    
}

.container1x{
    
    display: block;
    height: 100%;
    width: 30%;
    margin-left:25px;
    border:#d147bc;
    position: absolute;
    
}

.container2{
    
    display: block;
    margin-left: 25px;
    height: 100%;
    width:30%;
    background-color:#ebbb24;
    

}

.container3{
    
    display: block;
    margin-left: 25px;
    height: 100%;
    width:30%;
    background-color:#441738;
    
}

.container4{
    
    display: block;
    margin-left: 25px;
    height: 100%;
    width:30%;
    background-color:#ad3d20;
    
}

.container5{

    display: block;
    margin-left: 25px;
    height: 100%;
    width:30%;
    background-color:#30542e;
    
    
}

.container6{

    display: block;
    margin-left: 25px;
    height: 100%;
    width:30%;
    background-color:#faf3e2;
    
    
}



.display foto{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}





.knop1{
    background-color: #ad3d20;
    height:60px;
    width: 200px;
    border-color: #ebbb24;
    border-radius: 20px;
    border-width: 3px;
    color: #ffffff;
    font-family:'Montserrat', "Open Sans";
    text-align: center;
    font-size: 14pt;
    margin-bottom: 10px;
    margin-left: 25px;
    }

.knop1:hover{
    background: #441738;
    color: #ffffff;
    border-color: #d147bc;
    border-radius: 20px;
    border-width: 3px;
}
   

.knop2{
        background-color: #faf3e2;
        height:75px;
        width: 240px;
        border-color: #ebbb24;
        border-width: 4px;
        color: #ebbb24;
        font-family:'Montserrat', "Open Sans";
        text-align: center;
        font-size: 22pt;
        line-height: 16pt;
        margin-left: 25px;
    }
.knop2:hover{
            background-color: #ebbb24;
            color: #ffffff;
            border-color: #d147bc;
            border-width: 4px;
}

img.fotos{
    width:200px;
    margin:10px;
    margin-left:10px;
    

}

.tekstbutton{
    float: left;
}

img.buttons{
    width:100px;
    margin:10px;
    margin-left:10px;
    float: left;
}
h1 {font-size: 24pt; color: #441738; font-weight: 600;
	font-family: Montserrat, "Open Sans"; margin-left: 25px;}
h2 {font-size: 22pt;color: #441738; font-weight: 400;
	font-family: Montserrat, "Open Sans"; margin-left: 25px;}
h3 {font-size: 20pt; color: #441738; font-weight: 100;
    font-family: 'Montserrat', "Open Sans"; margin-left: 25px;}
h4 {font-family: 'Lato', "Open Sans"; font-size: 12pt; color: #000000;margin-left: 25px;}
h5 {Font-size: 12pt; font-weight: 300;
    font-family: 'Montserrat', "Open Sans"; color: #30542e;margin-left: 25px;}    
p {font-family: 'Lato', sans-serif; font-size: 12pt; color: #000000;}
li {font-family: 'Lato', sans-serif; font-size: 12pt; color: #000000;}


/* Navbar links */
.navigatietekst{
    float: left;
    margin-left: 25px;
    color: #30542e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.navigatietekst:hover {
    color: #ad3d20;
    text-decoration: underline;
}
